.app.container {
  box-sizing: border-box;
  text-align: center;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 34px;
  color: rgb(0, 0, 50);
}

h3 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 28px;
  color: rgb(0, 0, 50);
}






